swagger: '2.0'
info:
  version: "1.0.0"
  title: FetchClimate API
  description: Fetching service configuration, operation logs and quering the data
  contact:
    name: Dmitry A. Grechka
    email: dmitryg@itis.cs.msu.ru
host: fc.dgrechka.net
tags:
  - name: Regular user
    description: Getting info about published data and fetching the data
schemes:
  - http
paths:
  /api/status:
    get:
      tags:
        - Regular user
      description: Retrieves the information about particular query performed to the service beforehand
      parameters:
       - name: hash
         in: query
         description: Hash value of the request
         required: true
         type: string
      produces:
       - application/xml
       - application/json
      responses:
        200:
          description: Successful response
          schema:
            title: Query status string
            type: string
            description: |
              The following variables can be found in format section:
              {result_url} - the url to download JSON serialized query result
              {error_message} - textural description of the error
              {percentage} - the progress indicator
              {query_hash} - replicates the hash specified in the parameters
              {position_in_queue} - how many queries are in the queue before the current
            format: |
              'completed={result_url}' : query successfuly processed. You can download results
              'fault={error_message}' : error occurred during query proccesing
              'progress={percentage}%; hash={query_hash}' : query is currently processed
              'pending={position_in_queue}; hash={query_hash}' : query is in queue to be processed
  /api/configuration:
    get:
      tags:
       - Regular user
      description: Retrieves the available data sets and variables
      produces:
       - application/xml
       - application/json
      parameters:
        - name: timestamp
          in: query
          description: A timestemp in ISO 8601 format (e.g. "2016-01-01T12:00:00Z") that describes time for which to retrieve the effective configuration
          required: false
          type: string
      responses:
        200:
          description: Successful response
          schema:
            title: Service configuration snapshot
            type: object
            properties:
              FetchConfiguration:
                type: object
                properties:
                  DataSources:
                    type: array
                    items:
                      type: object
                      properties:
                        DataSourceDefinition:
                          type: object
                          properties:
                            Copyright:
                              type: string
                              description: A copyright notice about the data set
                            Description:
                              type: string
                              description: Full textural description of the data set
                            ID:
                              type: integer
                              description: Unique numeric identifier (within current FC instance) of the data set. Used in the provenance reports
                            Name:
                              type: string
                              description: Short unique string identifier (within current FC instance) of the data set
                            ProvidedVariables:
                              type: array
                              items:
                                type: string
                                description: identifier of the variable
                  EnvironmentalVariables:
                    type: array
                    items:
                      type: object
                      properties:
                        Description:
                          type: string
                          description: Full textural description of the variable
                        Name:
                          type: string
                          description: Short unique identifier of the variable
                        Units:
                          type: string
                          description: A description of units in which the values for this variable are returned
                  TimeStamp:
                    type: string
                    description: A timestamp in ISO 8601 format (e.g. "2016-01-01T12:00:00Z") that describes time for which the configuration corresponds
        400:
          description: |
            Bad request.  
            Commonly happens due to too early timestamp. e.g. timestamp before the service was deployed and configured
  /api/compute:
    post:
      tags:
        - Regular user
      description: Submits a query for processing
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: To be descripbed...
  /jsproxy/schema:
    get:
      tags:
        - Regular user
      description: |
        Extracts the schema of the Dmitrov data set.
        See http://research.microsoft.com/en-us/um/cambridge/groups/science/tools/dmitrov/ for more info about Dmitrov.
      produces:
        - application/json
        - application/xml
      parameters:
       - name: uri
         in: query
         required: true
         type: string
         description: Dmitrov URI to get schema for.
      responses:
        200:
          description: Successful response
          schema:
            title: Full data set schema 
            type: object
            properties:
              SerializableDataSetSchema:
                type: object
                description: Container object
                properties:
                  Dimensions:
                    title: Dimension space of the data set
                    type: array
                    items:
                      $ref: '#/definitions/DataSetDimension'
                  Metadata:
                    title: whole data set wide metadata entries
                    type: array
                    items:
                      $ref: '#/definitions/MetaDataEntry'
                  Variables:
                    title: data variables
                    type: array
                    items:
                      xml:
                        name: SerializableVariableSchema
                      title: single variable definition
                      type: object
                      properties:
                        Dimensions:
                          title: dimensions on which the variable is defined
                          type: array
                          items:
                            title: dimension name
                            type: string
                        Metadata:
                          title: varaible metadata entries
                          type: array
                          items:
                            $ref: '#/definitions/MetaDataEntry'
                        Name:
                          type: string
                          title: textural identifier of the variable
                        Size:
                          type: integer
                          title: Size (in bytes) of single variable element
                        TypeString:
                          type: string
                          title: .NET type identifier
        500:
          description: Schema extraction failure
  /jsproxy/data:
    get:
      tags:
        - Regular user
      description: |
        Proxy that converts Dmitrov Data sets to JSON. Can be used to extract query results.
        See http://research.microsoft.com/en-us/um/cambridge/groups/science/tools/dmitrov/ for more info about Dmitrov.
      produces:
        - application/json
      parameters:
       - name: uri
         in: query
         required: true
         type: string
         description: Dmitrov URI to get data from.
       - name: variables
         in: query
         required: true
         type: string
         description: Comma separated list of variables to extract
      responses:
        200:
          description: To be descripbed...
definitions:
  DataSetDimension:
    title: Single dimension definition
    type: object
    xml:
      name: SerializableDimension
    properties:
      Length:
        type: integer
      Name:
        title: string identifier of the dimension
        type: string
  MetaDataEntry:
    type: object
    xml:
      name: KeyValueOfstringObjectWithTypeStringNkIIWh0I
    properties:
      Key:
        type: string
      Value:
        type: object
        properties:
          TypeString:
            type: string
            title: .NET type identifier
          Value:
            type: string
            title: .NET serialized identifier